{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
<div class="container m-4">
    <div class="hr-color"><hr></div>
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
            <h1>Season index</h1>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 pb-2">
            <a href="{{ path('season_new') }}"><button class="btn btn-color ml-5">Create new season</button></a> 
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Program</th>
                <th>Season</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.program.title }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}"><p><i class="fas fa-eye icon-color"></i></p></a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}"><p><i class="far fa-edit icon-color"></i></p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
