{% include 'base.html.twig' %}
<body>
   <div class="container mt-5 pt-5 mx-auto ">
         <div class="row">
            {% for program in programs %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-1 text-center pt-3">
            <div class="card-group">
               <a href="{{ path("program_show", { id: program.id }) }}">
               <img src="{{program.poster}}" class="card-img-top img-fluid" alt="{{program.title}}">
               <div class="card-body">
                  <h5 class="card-title nav-size">{{program.title}}</h5></a>
                  <p class="card-text text-center"><i class="fas fa-film film-color"></i>  {{program.category.name}}</p>
                  <div class="text-right">
                  </div>
               </div>
            </div>
         </div>
            {% endfor %}
      </div>
   </div>
</body>
</html>