{% include 'base.html.twig' %}

{% block body %}
<div class="container-fluid mt-5 pt-3">
   <div class="row">
      <div class="col-12">
         <div class=" thumbnail text-center">
            <img src="{{ asset('build/banner-wild-series.png') }}" class="img-fluid" alt="wild-series">
            <div class="caption">
               <h1 class="baseline">Anytime<br>Everywhere</h1>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container m-5 mx-auto">
   <h3 class="ml-1 pl-4">Latest Programs</h3>
   <div class="row container-move">
      {% for program in programs %}
      <div class="text-center p-5">
         <div class="scroll-card" style="width: 15rem;">
            <a href="{{ path("program_show", { slug: program.slug }) }}">
            <img src="{{program.poster}}" class="box-program" alt="..."></a>
            <div class="card-body link-effect">
               <a href="{{ path("program_show", { slug: program.slug }) }}">
               <p class="card-text text-center"><i class="fas fa-film film-color"></i>  {{program.category.name}}</p><br><br>
               <h5 class="card-title">{{program.title}}</h5></a>
            </div>
         </div>
         <p class="ml-1 pl-4 info-scroll"><i class="fas fa-arrows-alt-h"></i>  Scroll right on images</p>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}